div.formMethods p {
    display: inline;
}

div.formMethods {
    position: relative;
    top: 20px;
    /*position: relative;*/
    /*top: 20px;*/
}

div.points {
    position: relative;
    top: 20px;
}

p.totalStep {
    display: inline-block;
}

p.left {
    position: relative;
    left: 100px;
}

p.right {
    position: relative;
    left: 330px;
}

button.btn {
    border: 1px #9900FF solid;
    border-radius: 2px;
    background-color: white;
    color: #9900FF;
}

button.btn:hover {
    background-color: #f0d6ff;
}



